    </main>
    <footer>
        <p> &copy;&nbsp;&nbsp;Copyright Centennial College Student - Chung Hin Ng - 301236167 - Web Application Development - COMP229 - Semester 3</p>
    </footer>
    <!-- <script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script> -->
</body>
 <!--  File name: assignment1
    // Student ID: 301236167
    // Name: Chung Hin Ng
    // Data: Oct 07, 2022 -->