    </main>
    <footer>
        <p> <h6>&copy;&nbsp;&nbsp;Copyright Centennial College Student - Chung Hin Ng - 301236167 - Web Interface Design - COMP 213 - Semester 1</h6></p>
    </footer>

</body>
</html>