 <!--  File name: assignment1
    // Student ID: 301236167
    // Name: Chung Hin Ng
    // Data: Oct 07, 2022 -->
<% include partials/header.ejs %>

<br>
<h2><%= title %></h2>



<table border="0" width="100%">
    <caption id = "caption1"> </caption>

<tr><td rowspan="2"><img src="/public/images/propic.jpg" alt="profilepic" height="430" width="250" />
</td>
<td><header id="td1"><%= description %><br>
    <p><a href="/public/pdf/file-sample_PDF_150kB.pdf">Here</a> is my resume</p>

</body></td>

</table>

<% include partials/footer.ejs %>