<!-- Student ID: 1234568796
Name: Julio Vinicius
Data: Oct 01, 2022 -->

<% include partials/header.ejs %>

    <h1><%= title %></h1>
    <p><%= description %></p> 
    <p><a href="/about"><%= description2%></a></p>
    <p><i><%=description3%></i></p>

<% include partials/footer.ejs %>