 <!--  File name: assignment1
    // Student ID: 301236167
    // Name: Chung Hin Ng
    // Data: Oct 07, 2022 -->
<% include partials/header.ejs %>

    <h1><%= title %></h1>
    <p><%= description %></p> 
    <p><a href="/about"><%= description2%></a></p>
    <p><i><%=description3%></i></p>


    
<% include partials/footer.ejs %>